<div class="post-container">
  <div class="post-username">
    <a (click)="goToUserProfile()" class="post-username">{{ post.username }}</a>
  </div>
  <div class="post-date">{{ formattedDate }}</div>
  <div class="post-body">{{ post.body }}</div>
  <div class="post-tag">{{ post.tag }}</div>

  <!-- commentek -->
  <div *ngFor="let comment of comments">
    <app-forum-comment [comment]="comment"></app-forum-comment>
  </div>

  <div class="interaction-bar">
    <img 
      [src]="liked ? 'assets/heart-2.png' : 'assets/heart-1.png'" 
      (click)="like()" 
      class="like-icon"
      style="cursor: pointer;"
    />
    <span>{{ likeCount }}</span>

    <img src="assets/chat.png" class="like-icon" />
    <span>{{ commentCount }}</span>
  </div>

  <div class="add-comment">
    <input type="text" [(ngModel)]="commentBody">
    <button (click)="addComment()">{{ 'postcomment' | i18next }}</button>
  </div>
</div>
