.form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 22%;
    margin-right: 22%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.803);
    border-radius: 5%;
}

.title{
    margin-bottom: 10%;
    margin-top: 10%;
    font-size: xx-large;
    
}

.inputF{
    width: 100%;
}
.dialog-header {
  position: relative;
  padding: 1.5rem 2rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.dialog-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: #555;
}

.close-button:hover {
  background: rgba(0, 0, 0, 0.05);
}


