<div class="form">
  <h2 class="title">{{ 'regist' | translate }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit($event)" class="registerForm">
    <mat-form-field class="inputF">
      <p>{{ 'email' | translate }} <input matInput formControlName="email" placeholder="Email" />
    </mat-form-field>
    <mat-form-field class="inputF">
      <p>{{ 'password' | translate }} <input matInput formControlName="password" type="password" placeholder="Password" />
    </mat-form-field>
    <mat-form-field class="inputF">
      <p>{{ 'username' | translate }} <input matInput formControlName="username" placeholder="Username" />
    </mat-form-field>
    <mat-form-field class="inputF">
      <p>{{ 'birth' | translate }}<input matInput formControlName="birth" type="date" />
    </mat-form-field>

    <mat-radio-group formControlName="gender">
      <mat-radio-button value="male">{{ 'male' | translate }}</mat-radio-button>
      <mat-radio-button value="female">{{ 'female' | translate }}</mat-radio-button>
    </mat-radio-group>
    
    <p></p>
    <button class="button" type="submit">{{ 'regist' | translate }}</button>
  </form>

  <div *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  {{ 'yessacc' | translate }}<a routerLink="/login">{{ 'loggin' | translate }}</a>
</div>
<router-outlet></router-outlet>