<div class="diseases">
  <div class="disease-form-container">
    <!-- Magyar Form -->
    <div class="disease-form">
      <h2>{{ 'hungarian' | i18next }}</h2>
      <form [formGroup]="diseaseFormHu" (ngSubmit)="submitDisease('hu')">
        <label>{{ 'id' | i18next }} <input formControlName="id" /></label>

        <label>{{ 'name' | i18next }} <input formControlName="name" /></label>
        <label>{{ 'ageRange' | i18next }}</label>
        <div class="age-range">
          <label for="ageMin">{{ 'minAge' | i18next }}</label>
          <input type="number" id="ageMin" formControlName="ageMin" />
      
          <label for="ageMax">{{ 'maxAge' | i18next }}</label>
          <input type="number" id="ageMax" formControlName="ageMax" />
        </div>
        <label>{{ 'ageLabel' | i18next }} <input formControlName="ageLabel" /></label>

        <label>{{ 'symptoms' | i18next }}</label>
        <div formArrayName="symptoms">
          <div *ngFor="let control of symptomsArrayHu.controls; let i = index">
            <select [formControlName]="i">
              <option *ngFor="let symptom of symptoms" [value]="symptom">{{ symptom }}</option>
            </select>
            <button type="button" (click)="removeControl(symptomsArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(symptomsArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>


        <label>{{ 'description' | i18next }} <input formControlName="description" /></label>

        <label>{{ 'gender' | i18next }}
          <select formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>

        <label>{{ 'painful' | i18next }} <input type="checkbox" formControlName="painful" (change)="onPainfulChange($event, 'hu')" /></label>

        {{ 'painLocation' | i18next }}
        <div *ngIf="diseaseFormHu.get('painful')?.value" formArrayName="painLocation">
          <div *ngFor="let control of painLocationArrayHu.controls; let i = index">
            <select [formControlName]="i">
              <option *ngFor="let location of painLocation" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(painLocationArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'prevention' | i18next }}
        <div formArrayName="prevention">
          <div *ngFor="let control of preventionArrayHu.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(preventionArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(preventionArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'riskFactors' | i18next }}
        <div formArrayName="riskFactors">
          <div *ngFor="let control of riskFactorsArrayHu.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(riskFactorsArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(riskFactorsArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'treatment' | i18next }}
        <div formArrayName="treatment">
          <div *ngFor="let control of treatmentArrayHu.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(treatmentArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(treatmentArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        <button type="submit">{{ 'save' | i18next }}</button>
      </form>
    </div>

    <!-- Angol Form -->
    <div class="disease-form">
      <h2>{{ 'english' | i18next }}</h2>
      <form [formGroup]="diseaseFormEn" (ngSubmit)="submitDisease('en')">
        <label>{{ 'id' | i18next }} <input formControlName="id" /></label>
        <label>{{ 'name' | i18next }} <input formControlName="name" /></label>
        <label>{{ 'ageRange' | i18next }}</label>
        <div class="age-range">
          <label for="ageMin">{{ 'minAge' | i18next }}</label>
          <input type="number" id="ageMin" formControlName="ageMin" />
      
          <label for="ageMax">{{ 'maxAge' | i18next }}</label>
          <input type="number" id="ageMax" formControlName="ageMax" />
        </div>
        <label>{{ 'ageLabel' | i18next }} <input formControlName="ageLabel" /></label>

        <label>{{ 'symptoms' | i18next }}</label>
        <div formArrayName="symptoms">
          <div *ngFor="let control of symptomsArrayHu.controls; let i = index">
            <select [formControlName]="i">
              <option *ngFor="let symptom of symptoms" [value]="symptom">{{ symptom }}</option>
            </select>
            <button type="button" (click)="removeControl(symptomsArrayHu, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(symptomsArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>


        <label>{{ 'description' | i18next }} <input formControlName="description" /></label>

        <label>{{ 'gender' | i18next }}
          <select formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>

        <label>{{ 'painful' | i18next }} <input type="checkbox" formControlName="painful" (change)="onPainfulChange($event, 'en')" /></label>

        {{ 'painLocation' | i18next }}
        <div *ngIf="diseaseFormEn.get('painful')?.value" formArrayName="painLocation">
          <div *ngFor="let control of painLocationArrayEn.controls; let i = index">
            <select [formControlName]="i">
              <option *ngFor="let location of painLocation" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationArrayEn, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(painLocationArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'prevention' | i18next }}
        <div formArrayName="prevention">
          <div *ngFor="let control of preventionArrayEn.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(preventionArrayEn, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(preventionArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>


        {{ 'riskFactors' | i18next }}
        <div formArrayName="riskFactors">
          <div *ngFor="let control of riskFactorsArrayEn.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(riskFactorsArrayEn, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(riskFactorsArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'treatment' | i18next }}
        <div formArrayName="treatment">
          <div *ngFor="let control of treatmentArrayEn.controls; let i = index">
            <input [formControlName]="i" />
            <button type="button" (click)="removeControl(treatmentArrayEn, i)">❌</button>
          </div>
          <button type="button" (click)="addControl(treatmentArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>

        <button type="submit">{{ 'save' | i18next }}</button>
      </form>
    </div>
  </div>

  <app-edit-disease
  *ngIf="selectedDiseaseId"
  [diseaseId]="selectedDiseaseId"
  (close)="selectedDiseaseId = null">
  </app-edit-disease>

  <!-- Betegségek listázása -->
  <div *ngFor="let d of allDiseases">
    <app-disease [diseaseName]="d.id"></app-disease>
    <button (click)="deleteDisease(d.id)">{{ 'delete' | i18next }}</button>
    <button (click)="editDisease(d.id)">{{ 'edit' | i18next }}</button>
  </div>
  <mat-paginator [length]="totalDiseases" 
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)">
</mat-paginator>

</div>
