.diseases {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }
  
  .disease-form-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  
  .disease-form {
    width: 48%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .disease-form h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .disease-form label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  .disease-form input,
  .disease-form select,
  .disease-form button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    font-size: 14px;
    border-radius: 4px;
    border: gray;
  }

  .inputForm{
    margin-left: -1rem !important;
    width: 90% !important;
    box-shadow: rgba(0, 0, 0, 0.058) 0 8px 15px !important;
    margin-left: 1rem !important;
  }
  
  .disease-form button {
    background-color: #0288D1;
    color: white;
    cursor: pointer;
  }
  
  .disease-form button:hover {
    background-color: #0288D1;
  }
  
  .disease-form .form-array-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .disease-form .form-array-container button {
    margin-top: 10px;
  }

  
  .disease-form .symptoms-list {
    margin-top: 15px;
  }
  
  .disease-form .symptoms-list ul {
    padding-left: 20px;
  }
  
  .diseases-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .diseases-list div {
    padding: 10px;
    border-radius: 8px;
  }
  
  .diseases-list div h3 {
    margin: 0;
    font-size: 16px;
  }
  
  .diseases-list div p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .save-button{
    font-size: large;
    height: 3rem !important;
  }

  mat-paginator {
    background-color: transparent;
  }

  .del-button{
    margin-left: 1rem;
    position: relative;
    float: right;
  }

.disease-card {
  position: relative;
  left: 0; 
  transition: left 0.3s ease;
}

@media (max-width: 768px) {
  .disease-form-container {
    flex-direction: column;
    margin-top: 1rem;
    margin-right: 2rem;
  }

  .disease-form {
    width: 100%;
  }

}
