<div class="diseases">
  <div class="disease-form-container">
    <!-- Magyar Form -->
    <div class="disease-form">
      <h2>{{ 'hungarian' | i18next }}</h2>
      <form [formGroup]="diseaseFormHu">
        <label>{{ 'id' | i18next }} <br><input class="inputForm" formControlName="id" /></label>

        <label>{{ 'name' | i18next }} <br> <input class="inputForm" formControlName="name" /></label>
        <label>{{ 'ageRange' | i18next }}</label>
        
        <label>{{ 'ageLabel' | i18next }} <br> <input class="inputForm" formControlName="ageLabel" [(ngModel)]="ageLabelHu"/></label>
        <div class="age-range" *ngIf="ageLabelHu!=='Minden korosztály'">
          <label for="ageMin">{{ 'minAge' | i18next }}</label><br>
          <input class="inputForm" type="number" id="ageMin" formControlName="ageMin" />
      
          <label for="ageMax">{{ 'maxAge' | i18next }}</label><br>
          <input class="inputForm" type="number" id="ageMax" formControlName="ageMax" />
        </div>
        

        <label>{{ 'symptoms' | i18next }}</label>
        <div formArrayName="symptoms">
          <div *ngFor="let control of symptomsArrayHu.controls; let i = index">
            <select class="inputForm" [formControlName]="i">
              <option *ngFor="let symptom of symptomsH" [value]="symptom">{{ symptom }}</option>
            </select>
            <button type="button" (click)="removeControl(symptomsArrayHu, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(symptomsArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>


        <label>{{ 'description' | i18next }} <br><input class="inputForm" formControlName="description" /></label>

        <label>{{ 'gender' | i18next }}
          <select class="inputForm" formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>

        <label>{{ 'painful' | i18next }} <input type="checkbox" formControlName="painful" (change)="onPainfulChange($event, 'hu')" /></label>

        
        <div *ngIf="diseaseFormHu.get('painful')?.value" formArrayName="painLocation">
          {{ 'painLocation' | i18next }}
          <div *ngFor="let control of painLocationArrayHu.controls; let i = index">
            <select class="inputForm" [formControlName]="i">
              <option *ngFor="let location of painLocationH" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationArrayHu, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(painLocationArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'prevention' | i18next }}
        <div formArrayName="prevention">
          <div *ngFor="let control of preventionArrayHu.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(preventionArrayHu, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(preventionArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'riskFactors' | i18next }}
        <div formArrayName="riskFactors">
          <div *ngFor="let control of riskFactorsArrayHu.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(riskFactorsArrayHu, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(riskFactorsArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'treatment' | i18next }}
        <div formArrayName="treatment">
          <div *ngFor="let control of treatmentArrayHu.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(treatmentArrayHu, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(treatmentArrayHu)">+ {{ 'add' | i18next }}</button>
        </div>

      </form>
    </div>

    <!-- Angol Form -->
    <div class="disease-form">
      <h2>{{ 'english' | i18next }}</h2>
      <form [formGroup]="diseaseFormEn">
        <label>{{ 'id' | i18next }} <br><input class="inputForm" formControlName="id" /></label>
        <label>{{ 'name' | i18next }} <br> <input class="inputForm" formControlName="name" /></label>
        <label>{{ 'ageRange' | i18next }}</label>
        
        <label>{{ 'ageLabel' | i18next }} <br> <input class="inputForm" formControlName="ageLabel" [(ngModel)]="ageLabelEn"/></label>
        <div class="age-range" *ngIf="ageLabelEn!=='All agegroups'">
          <label for="ageMin">{{ 'minAge' | i18next }}</label>
          <input class="inputForm" type="number" id="ageMin" formControlName="ageMin" />
      
          <label for="ageMax">{{ 'maxAge' | i18next }}</label>
          <input class="inputForm" type="number" id="ageMax" formControlName="ageMax" />
        </div>
        

        <label>{{ 'symptoms' | i18next }}</label>
        <div formArrayName="symptoms">
          <div *ngFor="let control of symptomsArrayEn.controls; let i = index">
            <select class="inputForm" [formControlName]="i">
              <option *ngFor="let symptom of symptomsE" [value]="symptom">{{ symptom }}</option>
            </select>
            <button type="button" (click)="removeControl(symptomsArrayEn, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(symptomsArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>


        <label>{{ 'description' | i18next }} <input formControlName="description" /></label>

        <label>{{ 'gender' | i18next }}
          <select class="inputForm" formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>

        <label>{{ 'painful' | i18next }} <br> <input class="inputForm" type="checkbox" formControlName="painful" (change)="onPainfulChange($event, 'en')" /></label>

        
        <div *ngIf="diseaseFormEn.get('painful')?.value" formArrayName="painLocation">
          {{ 'painLocation' | i18next }}
          <div *ngFor="let control of painLocationArrayEn.controls; let i = index">
            <select class="inputForm" [formControlName]="i">
              <option *ngFor="let location of painLocationE" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationArrayEn, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(painLocationArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'prevention' | i18next }}
        <div formArrayName="prevention">
          <div *ngFor="let control of preventionArrayEn.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(preventionArrayEn, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(preventionArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>


        {{ 'riskFactors' | i18next }}
        <div formArrayName="riskFactors">
          <div *ngFor="let control of riskFactorsArrayEn.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(riskFactorsArrayEn, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(riskFactorsArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>

        {{ 'treatment' | i18next }}
        <div formArrayName="treatment">
          <div *ngFor="let control of treatmentArrayEn.controls; let i = index">
            <input class="inputForm" [formControlName]="i" />
            <button type="button" (click)="removeControl(treatmentArrayEn, i)">{{ 'delete' | i18next }}</button>
          </div>
          <button type="button" (click)="addControl(treatmentArrayEn)">+ {{ 'add' | i18next }}</button>
        </div>
      </form>
    </div>
  </div>
  <button class="option-buttons save-button" (click)="submitDiseases()">{{ 'save' | i18next }}</button>

  <div class="disease-card" *ngFor="let d of allDiseases">
    <app-disease [diseaseName]="d.id" (diseaseDeleted)="onDiseaseDeleted($event)"></app-disease>
    
  </div>
  <mat-paginator [length]="totalDiseases" 
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               [pageSizeOptions]="[5, 10, 20]"
               (page)="onPageChange($event)">
</mat-paginator>

</div>
