.result{
    margin: 5%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.803);
    border-radius: 20px;
    font-weight: 500 !important;
}

.resCard{
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 1rem;
}

.option-buttons{
    width: 200px !important;
}

@media (max-width: 768px) {
    .result{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}