<div class="profile">
    <div class="profileData">
        <img src="../../assets/avatar.webp" class="profilePic" loading="lazy">
        <span class="displayName" *ngIf="displayName">
            {{displayName}}
        </span>

        <ng-container *ngIf="currentUser?.uid === profileUid">
            <button (click)="profileDataModifying()">{{ 'editProfile' | i18next }}</button>
        </ng-container>

        <ng-container *ngIf="currentUser?.uid === profileUid">
            <button (click)="deleteProfileUser()">{{ 'deleteMyProfile' | i18next }}</button>
        </ng-container>

        <ng-container *ngIf="role==='admin'">
            <button (click)="deleteProfileAdmin()">{{ 'deleteProfile' | i18next }}</button>
        </ng-container>
    </div>

    <div class="stripe"></div>

    <div class="content">
        <div class="left">
            <div (click)="openPosts()" class="page">{{ 'posts' | i18next }}</div>
            <div class="stripe"></div>
          
            <ng-container *ngIf="currentUser?.uid === profileUid">
              <div (click)="openSavedResults()" class="page">{{ 'saved' | i18next }}</div>
              <div class="stripe"></div>
              <div (click)="openUploadedDocs()" class="page">{{ 'uploadedDocs' | i18next }}</div>
              <div class="stripe"></div>
              <div (click)="openNotifications()" class="page">{{ 'alerts' | i18next }}</div>
            </ng-container>
            <ng-container *ngIf="currentUser?.uid !== profileUid">
                <div (click)="openSharedDocuments()" class="page">{{ 'shared' | i18next }}</div>
                <div class="stripe"></div>
              </ng-container>
          </div>
          

        <div class="vertical-line"></div>

        <div class="right">
            <div *ngIf="posts">
                <app-user-posts></app-user-posts>
            </div>
            <div *ngIf="savedRes">
                <app-saved-diseases></app-saved-diseases>
            </div>
            <div *ngIf="uploaded">
                <app-uploaded-docs></app-uploaded-docs>
            </div>
            <div *ngIf="notifications">
                <app-notification-page></app-notification-page>
            </div>
            <div *ngIf="settings">
                <app-profile-settings></app-profile-settings>
            </div>
            <div *ngIf="shared">
                <app-shared-documents></app-shared-documents>
            </div>
        </div>
    </div>
</div>