<div class="profile">
    <div class="profileData">
        <img src="../../assets/avatar.png" class="profilePic">
        <span class="displayName" *ngIf="displayName">
            {{displayName}}
        </span>

        <ng-container *ngIf="currentUser?.uid === profileUid">
            <button (click)="profileDataModifying()">Profil módosítása</button>
        </ng-container>

        <ng-container *ngIf="currentUser?.uid === profileUid">
            <button (click)="deleteProfileUser()">Fiókom törlése</button>
        </ng-container>

        <ng-container *ngIf="role==='admin'">
            <button (click)="deleteProfileAdmin()">Fiók törlése</button>
        </ng-container>
    </div>

    <div class="stripe"></div>

    <div class="content">
        <div class="left">
            <div (click)="openPosts()" class="page">Bejegyzések</div>
            <div class="stripe"></div>
          
            <ng-container *ngIf="currentUser?.uid === profileUid">
              <div (click)="openSavedResults()" class="page">Elmentett eredmények</div>
              <div class="stripe"></div>
              <div (click)="openUploadedDocs()" class="page">Feltöltött dokumentumok</div>
              <div class="stripe"></div>
              <div (click)="openNotifications()" class="page">Értesítések</div>
            </ng-container>
            <ng-container *ngIf="currentUser?.uid !== profileUid">
                <div (click)="openSharedDocuments()" class="page">Megosztott dokumentumok</div>
                <div class="stripe"></div>
              </ng-container>
          </div>
          

        <div class="vertical-line"></div>

        <div class="right">
            <div *ngIf="posts">
                <app-user-posts></app-user-posts>
            </div>
            <div *ngIf="savedRes">
                <app-saved-diseases></app-saved-diseases>
            </div>
            <div *ngIf="uploaded">
                <app-uploaded-docs></app-uploaded-docs>
            </div>
            <div *ngIf="notifications">
                <app-notification-page></app-notification-page>
            </div>
            <div *ngIf="settings">
                <app-profile-settings></app-profile-settings>
            </div>
            <div *ngIf="shared">
                <app-shared-documents></app-shared-documents>
            </div>
        </div>
    </div>
</div>