<div class="disease-form-container">
  <div class="disease-form">
    <h2>{{ 'hungarian' | i18next }}</h2>
    <form [formGroup]="diseaseFormHu" (ngSubmit)="onSubmit('hu')">
      <div class="form-group">
        <label>{{ 'name' | i18next }}
          <input type="text" formControlName="name">
        </label>
        
        <label>{{ 'description' | i18next }}
          <textarea formControlName="description"></textarea>
        </label>
        
        <label>{{ 'gender' | i18next }}
          <select formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="age-range">
          <label>{{ 'ageMin' | i18next }}
            <input type="number" formControlName="ageMin">
          </label>
          <label>{{ 'ageMax' | i18next }}
            <input type="number" formControlName="ageMax">
          </label>
        </div>
        <label>{{ 'ageLabel' | i18next }}
          <input type="text" formControlName="ageLabel">
        </label>
      </div>
      <div class="form-array" formArrayName="symptoms">
        <label>{{ 'symptoms' | i18next }}</label>
        <div *ngFor="let control of symptomsHu.controls; let i = index" class="array-item">
          <select [formControlName]="i">
            <option *ngFor="let symptom of symptoms" [value]="symptom">{{ symptom }}</option>
          </select>
          <button type="button" (click)="removeControl(symptomsHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(symptomsHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="painful"> {{ 'painful' | i18next }}
        </label>
        <div *ngIf="diseaseFormHu.get('painful')?.value" formArrayName="painLocation" class="form-array">
          <div *ngFor="let control of painLocationHu.controls; let i = index" class="array-item">
            <select [formControlName]="i">
              <option *ngFor="let location of painLocation" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationHu, i)">&times;</button>
          </div>
          <button type="button" (click)="addControl(painLocationHu)">+ {{ 'add' | i18next }}</button>
        </div>
      </div>

      <div class="form-array" formArrayName="associatedDiseases">
        <label>{{ 'associatedDiseases' | i18next }}</label>
        <div *ngFor="let control of associatedDiseasesHu.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(associatedDiseasesHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(associatedDiseasesHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="causes">
        <label>{{ 'causes' | i18next }}</label>
        <div *ngFor="let control of causesHu.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(causesHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(causesHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="prevention">
        <label>{{ 'prevention' | i18next }}</label>
        <div *ngFor="let control of preventionHu.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(preventionHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(preventionHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="riskFactors">
        <label>{{ 'riskFactors' | i18next }}</label>
        <div *ngFor="let control of riskFactorsHu.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(riskFactorsHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(riskFactorsHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="treatment">
        <label>{{ 'treatment' | i18next }}</label>
        <div *ngFor="let control of treatmentHu.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(treatmentHu, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(treatmentHu)">+ {{ 'add' | i18next }}</button>
      </div>

      <button type="submit">{{ 'save' | i18next }}</button>
    </form>
  </div>

  <div class="disease-form">
    <h2>{{ 'english' | i18next }}</h2>
    <form [formGroup]="diseaseFormEn" (ngSubmit)="onSubmit('en')">
      <div class="form-group">
        <label>{{ 'name' | i18next }}
          <input type="text" formControlName="name">
        </label>
        
        <label>{{ 'description' | i18next }}
          <textarea formControlName="description"></textarea>
        </label>
        
        <label>{{ 'gender' | i18next }}
          <select formControlName="gender">
            <option value="Both">{{ 'both' | i18next }}</option>
            <option value="Male">{{ 'male' | i18next }}</option>
            <option value="Female">{{ 'female' | i18next }}</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="age-range">
          <label>{{ 'ageMin' | i18next }}
            <input type="number" formControlName="ageMin">
          </label>
          <label>{{ 'ageMax' | i18next }}
            <input type="number" formControlName="ageMax">
          </label>
        </div>
        <label>{{ 'ageLabel' | i18next }}
          <input type="text" formControlName="ageLabel">
        </label>
      </div>

      <div class="form-array" formArrayName="symptoms">
        <label>{{ 'symptoms' | i18next }}</label>
        <div *ngFor="let control of symptomsEn.controls; let i = index" class="array-item">
          <select [formControlName]="i">
            <option *ngFor="let symptom of symptoms" [value]="symptom">{{ symptom }}</option>
          </select>
          <button type="button" (click)="removeControl(symptomsEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(symptomsEn)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-group">
        <label>
          <input type="checkbox" formControlName="painful"> {{ 'painful' | i18next }}
        </label>
        <div *ngIf="diseaseFormEn.get('painful')?.value" formArrayName="painLocation" class="form-array">
          <div *ngFor="let control of painLocationEn.controls; let i = index" class="array-item">
            <select [formControlName]="i">
              <option *ngFor="let location of painLocation" [value]="location">{{ location }}</option>
            </select>
            <button type="button" (click)="removeControl(painLocationEn, i)">&times;</button>
          </div>
          <button type="button" (click)="addControl(painLocationEn)">+ {{ 'add' | i18next }}</button>
        </div>
      </div>

      <div class="form-array" formArrayName="associatedDiseases">
        <label>{{ 'associatedDiseases' | i18next }}</label>
        <div *ngFor="let control of associatedDiseasesEn.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(associatedDiseasesEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(associatedDiseasesEn)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="causes">
        <label>{{ 'causes' | i18next }}</label>
        <div *ngFor="let control of causesEn.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(causesEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(causesEn)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="prevention">
        <label>{{ 'prevention' | i18next }}</label>
        <div *ngFor="let control of preventionEn.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(preventionEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(preventionEn)">+ {{ 'add' | i18next }}</button>
      </div>

      <div class="form-array" formArrayName="riskFactors">
        <label>{{ 'riskFactors' | i18next }}</label>
        <div *ngFor="let control of riskFactorsEn.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(riskFactorsEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(riskFactorsEn)">+ {{ 'add' | i18next }}</button>
      </div>
      <div class="form-array" formArrayName="treatment">
        <label>{{ 'treatment' | i18next }}</label>
        <div *ngFor="let control of treatmentEn.controls; let i = index" class="array-item">
          <input type="text" [formControlName]="i">
          <button type="button" (click)="removeControl(treatmentEn, i)">&times;</button>
        </div>
        <button type="button" (click)="addControl(treatmentEn)">+ {{ 'add' | i18next }}</button>
      </div>

      <button type="submit">{{ 'save' | i18next }}</button>
    </form>
  </div>
</div>