Gyógyszer neve: <input type="text" [(ngModel)]="name">

Ismétlés: 
<select [(ngModel)]="frequency" (change)="onChange()">
    <option></option>
    <option *ngFor="let frequency of frequencies" [value]="frequency">
      {{ frequency }}
    </option>
</select>

Értesítés ideje: 
<div *ngFor="let index of timeArray; let i = index">
    <select [(ngModel)]="times[i]">
      <option *ngFor="let h of hours" [value]="h">
        {{ h }}
      </option>
    </select>
</div>

<button (click)="addAlert()">Hozzáadás</button>
