<div class="form-container">
  <mat-form-field class="full-width">
    <mat-label>{{ 'medName' | i18next }}</mat-label>
    <input matInput [(ngModel)]="name" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>{{ 'freq' | i18next }}: </mat-label>
    <p></p>
    <mat-select [(ngModel)]="frequency"  (selectionChange)="onChange()">
      <mat-option *ngFor="let f of frequencies" [value]="f.value">
        {{ ('frequency.' + f.key) | i18next }}
      </mat-option>
    </mat-select>
    
  </mat-form-field>

  <div *ngFor="let index of timeArray; let i = index" class="time-select">
    <mat-form-field class="full-width">
      <mat-label>{{ 'timeOfNotification' | i18next }} {{ i + 1 }}</mat-label>
      <mat-select [(ngModel)]="times[i]">
        <mat-option *ngFor="let h of hours" [value]="h">
          {{ h }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button class="option-buttons" (click)="saveAlert()">{{ 'add' | i18next }}</button>
</div>


