<div class="off-screen-menu" id="offScreenMenu">
    <a (click)="navigateSymptomChecker()">{{ 'title' | i18next }}</a>
    <a (click)="navigateProfile()">{{ 'profile' | i18next }}</a>
    <a (click)="navigateDoctorFinder()">{{ 'docfinder' | i18next }}</a>
    <a (click)="navigateForum()">{{ 'forum' | i18next }}</a>
    <a (click)="navigateSignOut()">{{ 'signout' | i18next }}</a>
</div>
<nav>
    <div class="navbar" id="navbar">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="title">
        <a (click)="navigateHome()">{{ 'title' | i18next }}</a>
    </div>
    <!--profil kereses-->
    <input matInput type="text" [(ngModel)]="name" placeholder="Profil keresése">
    <button (click)="searchProfile()">Keresés</button>

    <div class="profile" (click)="navigateProfile()">
        <img src="../../assets/avatar.png" class="avatar">
    </div>
</nav>