<div class="alert-container">
    <div class="alert-title">{{ alert.name }}</div>
    <div class="alert-frequency">{{ 'freq' | i18next }}: <p></p> {{ getTranslatedFrequency(alert.frequency) }}
    </div>
    <div class="alert-times">
      <span *ngFor="let time of alert.times">{{ time }}</span>
    </div>
    <button class="option-buttons" (click)="editAlert(alert)">{{ 'edit' | i18next }}</button>
    <button class="option-buttons" (click)="deleteAlert(alert.id)">{{ 'delete' | i18next }}</button>
</div>
