<div class="form">
  <button (click)="goToEditDiseases()"> {{ 'diseasecrud' | i18next }}</button>
  
<!-- Személyes adatok -->
<div *ngIf="personalFromVisible">
  <div class="title">
    {{ 'personaldata' | i18next }}
  </div>
  <form [formGroup]="personalInformation">
    <div class="inp">
        <label for="age">{{ 'age' | i18next }}:</label><p>
        <input type="number" formControlName="age" required>

    </div>

    <div class="inp">
        <label for="gender">{{ 'gender' | i18next }}</label><p>
        <select id="gender" formControlName="gender" required>
          <option value="male">{{ 'male' | i18next }}</option>
          <option value="female">{{ 'female' | i18next }}</option>
        </select>
    </div>  

    <div>
      <button class="button-small" type="submit" (click)="formVisible()">{{ 'next' | i18next }}</button>
    </div>
  </form>
</div>

<!-- Tünetek -->
<div *ngIf="!personalFromVisible">
  <div class="title">
    {{ 'syptoms' | i18next }}
  </div>
<form [formGroup]="symptomsForm">
  <label>{{ 'syptoms' | i18next }}:</label>
  <div formArrayName="symptoms">
    <div *ngFor="let control of symptomArray.controls; let i = index">
      <input type="text" matInput [formControlName]="i" [matAutocomplete]="auto" (input)="filterSymptoms(i)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let symptom of filteredSymptoms" [value]="symptom">
          {{ symptom }}
        </mat-option>
      </mat-autocomplete>
      
      <button class="button-xsmall" type="button" (click)="removeSymptom(i)">-</button>
    </div>
  </div>
  <button class="button-xsmall" type="button" (click)="addSymptom()">+</button>

  <div>
    <label for="pain">{{ 'pain' | i18next }}</label><p>
    <select formControlName="pain" (change)="onPainChange($event)" value="no">
      <option value="yes">{{ 'yes' | i18next }}</option>
      <option value="no" selected>{{ 'no' | i18next }}</option>
    </select>
  </div>

  <div>
    <div *ngIf="isPainful">
      <label for="painLocation">{{ 'where' | i18next }}</label>
      <div formArrayName="painLocation">
        <div *ngFor="let control of painLocationArray.controls; let i = index">
          <select [formControlName]="i">
            <option *ngFor="let pain of painLocation" [value]="pain">{{ pain }}</option>
          </select>
          <button class="button-xsmall" type="button" (click)="removePain(i)">-</button>
        </div>
      </div>
      <button class="button-xsmall" type="button" (click)="addPain()">+</button>
    </div>
  </div>

  <button class="button-small" type="submit" (click)="symptomCheckerResult()">OK</button>
</form>
</div>

<div>
  {{errorMessage}}
</div>
</div>