<div class="form">
  <!-- personal part -->
  <div *ngIf="personalFromVisible">
    <div class="title">
      {{ 'personaldata' | i18next }}
    </div>
    <form [formGroup]="personalInformation">
      <div class="inp">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'age' | i18next }}</mat-label>
          <input matInput type="number" formControlName="age" required />
        </mat-form-field>
      </div>

      <div class="inp">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'gender' | i18next }}</mat-label>
          <mat-select formControlName="gender" required>
            <mat-option value="male">{{ 'male' | i18next }}</mat-option>
            <mat-option value="female">{{ 'female' | i18next }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button class="button-small" type="submit" (click)="formVisible()">
          {{ 'next' | i18next }}
        </button>
      </div>
    </form>
  </div>
  <button *ngIf="role === 'admin'" class="button-small disease-managemet-button" (click)="goToEditDiseases()">
          {{ 'diseasecrud' | i18next }}
        </button>

  <!-- symp -->
  <div *ngIf="!personalFromVisible" class="pain-section">
    <div class="title">
      {{ 'symptoms' | i18next }}
    </div>
    <form [formGroup]="symptomsForm">
      <div class="symptoms-pain-container">
        <div class="symptoms-box">
          <label class="section-label">{{ 'symptoms' | i18next }}</label>
          <div formArrayName="symptoms">
            <div *ngFor="let control of symptomArray.controls; let i = index" class="symptom-row">
              <input type="text" matInput  class="text-input" [formControlName]="i" [matAutocomplete]="auto" (input)="filterSymptoms(i)" (focus)="showAllSymptoms(i)">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let symptom of filteredSymptoms[i]" [value]="symptom">
                  {{ symptom }}
                </mat-option>
              </mat-autocomplete>
  <button type="button" *ngIf="i !== 0" (click)="removeSymptom(i)" class="remove-btn">-</button>
              <button type="button" (click)="addSymptom()" class="add-btn">+</button>
            </div>
          </div>
        </div>
        <div class="pain-box">
          <label class="section-label">{{ 'pain' | i18next }}</label>
          <select formControlName="pain" (change)="onPainChange($event)" class="select-input">
            <option value="yes">{{ 'yes' | i18next }}</option>
            <option value="no">{{ 'no' | i18next }}</option>
          </select>
    
          <div *ngIf="isPainful" class="pain-location-box">
            <label class="sub-label">{{ 'where' | i18next }}</label>
            <div formArrayName="painLocation">
              <div *ngFor="let control of painLocationArray.controls; let i = index" class="pain-location-row">
                <select [formControlName]="i" class="select-input">
                  <option *ngFor="let pain of painLocation" [value]="pain">{{ pain }}</option>
                </select>
                <button type="button" *ngIf="i !== 0" (click)="removePain(i)" class="remove-btn">-</button>
                <button type="button" (click)="addPain()" class="add-btn">+</button>
              </div>
            </div>
          </div>
        </div>
    
      </div>
    
      <div>
        <button class="option-buttons" type="submit" (click)="symptomCheckerResult()">OK</button>
      </div>
    </form>
    
  </div>
  
  <div>
    {{errorMessage}}
  </div>
  </div>
  
  
  