<div class="section">
    <h3>Fiók adatok</h3>
    <div class="form-group">
      <input type="text" placeholder="Display Name" [(ngModel)]="displayNameField">
      <input type="text" placeholder="Email" [(ngModel)]="emailField">
  
      <select [(ngModel)]="gender">
        <option value="male">Férfi</option>
        <option value="female">Nő</option>
      </select>
  
      <input type="date" [(ngModel)]="birth">
    </div>
    <button (click)="saveProfileData()">Mentés</button>
  </div>
  

  <div class="section">
    <h3>Új jelszó</h3>
    <div class="form-group">
      <input type="text" placeholder="jelszo">
      <input type="text" placeholder="jelszo ujra">
    </div> 
    {{passError}}
    <button (click)="saveNewPassword()">Mentés</button>
  </div>

  <div class="section" *ngIf="role==='doctor'">
    <h3>Orvosi fiók adatok</h3>
    <div class="form-group">
        <input type="text" placeholder="Név" [(ngModel)]="name" name="name">
        <input type="text" placeholder="Város" [(ngModel)]="city" name="city">
        <input type="text" placeholder="Cím" [(ngModel)]="address" name="address">
        <input type="text" placeholder="Tel" [(ngModel)]="phone" name="phone">
        <input type="text" placeholder="Szakirány" [(ngModel)]="specialty" name="specialty">
    </div>
    <div class="button-group">
      <button (click)="saveDoctorData()">Mentés</button>
      <button (click)="deleteDoctorProfile()">Orvosi profil törlése</button>
    </div>
  </div>