<div class="section">
  <h3>{{ 'profiledata' | i18next }}</h3>
  <div class="form-group">

    <div>
      <label>{{ 'profilepic' | i18next }}</label><br>
      <input class="fileInput" type="file" (change)="fileSelect($event)" />
      <br>
      <button (click)="uploadProfilePicture()">
        {{ 'upload' | i18next }}
      </button>
      <br>
    </div>
    <div *ngIf="errorMessage">{{ errorMessage }}</div>
    <mat-form-field>
      <mat-label>{{ 'displayname' | i18next }}</mat-label>
      <input matInput [(ngModel)]="displayNameField">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'email' | i18next }}</mat-label>
      <input matInput [(ngModel)]="emailField">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'gender' | i18next }}</mat-label>
      <mat-select [(ngModel)]="gender">
        <mat-option value="male">{{ 'male' | i18next }}</mat-option>
        <mat-option value="female">{{ 'female' | i18next }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'birthDate' | i18next }}</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="birth">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <button (click)="saveProfileData()">
    {{ 'save' | i18next }}
  </button>
</div>

<div class="section">
  <h3>{{ 'newPass' | i18next }}</h3>
  <div class="form-group">
    <mat-form-field>
      <mat-label>{{ 'pass' | i18next }}</mat-label>
      <input matInput type="password" [(ngModel)]="pass">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'passAgain' | i18next }}</mat-label>
      <input matInput type="password" [(ngModel)]="passAgain">
    </mat-form-field>
  </div>

  <div *ngIf="passError">
    {{ passError }}
  </div>

  <button (click)="saveNewPassword()">
    {{ 'save' | i18next }}
  </button>

  <p>
    <button class="deleteButton" (click)="deleteProfileUser()">
      {{ 'deleteMyProfile' | i18next }}
    </button>
  </p>
</div>

<div class="vertical-line"></div>

<div class="section" *ngIf="role === 'doctor'">
  <h3>{{ 'docProfile' | i18next }}</h3>
  <div class="form-group">
    <mat-form-field>
      <mat-label>{{ 'name' | i18next }}</mat-label>
      <input matInput [(ngModel)]="name" name="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'city' | i18next }}</mat-label>
      <input matInput [(ngModel)]="city" name="city">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'address' | i18next }}</mat-label>
      <input matInput [(ngModel)]="address" name="address">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'phone' | i18next }}</mat-label>
      <input matInput [(ngModel)]="phone" name="phone">
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'specialty' | i18next }}</mat-label>
      <input matInput [(ngModel)]="specialty" name="specialty">
    </mat-form-field>
  </div>

  <div class="button-group">
    <button (click)="saveDoctorData()">
      {{ 'save' | i18next }}
    </button>

    <br>
    <button class="deleteButton" (click)="deleteDoctorProfile()">
      {{ 'delDocProfile' | i18next }}
    </button>
  </div>
</div>
