.form{
    margin-top: 5rem;
    margin-left: 10%;
    margin-right: 10%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.803);
    border-radius: 5%;
}

.title{
    margin-bottom: 5%;
    font-size: xx-large;
}

.registerForm{

}

.inputF{
    width: 100%;
}