.form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 22%;
    margin-right: 22%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.803);
    border-radius: 5%;
}

.title{
    margin-bottom: 5%;
    font-size: xx-large;
}

.inputF{
    width: 100%;
}