<div class="docFinder">
    {{ 'newpost' | i18next }}<br>
    <textarea rows="4" cols="50" [(ngModel)]="body"></textarea>

    <p>
    <label for="options">{{ 'addtag' | i18next }}</label>
    <select [(ngModel)]="tag">
        <option *ngFor="let i of illnesses" [value]="i">{{i}}</option>
    </select>
    <p>
    <button (click)="addPost()">{{ 'post' | i18next }}</button>

    <div class="search">
        {{ 'search' | i18next }}
        <input type="text" [(ngModel)]="searchText">
        <select [(ngModel)]="searchTag">
            <option *ngFor="let i of illnesses" [value]="i">{{i}}</option>
        </select>
        <button (click)="search()">{{ 'search' | i18next }}</button>

    </div>

    <div *ngFor="let post of posts">
        <p>
        <app-forum-post [post]="post"></app-forum-post>
    </div>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>


</div>